
.cssload-loader * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-loader {
	width: 1em;
	height: 1em;
	font-size: 146px;
	position: relative;
	display:block;
	margin: 49px auto;
}

.cssload-loader:before, .cssload-loader:after {
	content: "";
	top: 0;
	display: block;
	width: 1em;
	height: 1em;
	position: absolute;
	border-width: 0.5em;
	border-style: double;
	border-color: transparent;
	border-radius: 1em;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: spin 1.15s infinite;
		-o-animation: spin 1.15s infinite;
		-ms-animation: spin 1.15s infinite;
		-webkit-animation: spin 1.15s infinite;
		-moz-animation: spin 1.15s infinite;
}
.cssload-loader:after {
	left: 0;
	border-left-color: rgb(198,0,237);
}
.cssload-loader:before {
	right: 0;
	border-right-color: rgb(180,0,240);
	animation-delay: -0.29s;
		-o-animation-delay: -0.29s;
		-ms-animation-delay: -0.29s;
		-webkit-animation-delay: -0.29s;
		-moz-animation-delay: -0.29s;
}



@keyframes spin {
	from {
		transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	from {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	from {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(360deg);
	}
}