.chat-container{ display: flex; height: calc(100vh - 80px)}
.messages-section{transition: all 0.5s ease;width: calc( 100% - 300px);margin: 16px;border-radius: 8px; background: #d8d4df;padding: 20px;
    .messages-header {display: flex;margin-bottom: 8px;align-items:center;
        > img {border-radius: 50%;object-fit: cover;margin-right: 16px;height: 50px;width: 50px;box-shadow: 0px 0px 10px 0px #b39ddb;}
        > h2 {margin: 0;}
    }
    .chat-area{height: calc(100vh - 280px);  display: flex;flex-direction: column;align-items: flex-start;overflow: auto;
        > :first-child {margin-top: auto;}
        .message-container{  display: flex;width: 100%;justify-content: flex-start;
            &.sender{justify-content: flex-end;
                .message-bubble{background: #b39ddb;border-radius: 12px 12px 0 12px;;
                    &:before{width: 12px;right: 0;left:unset;border-top-left-radius: unset;border-top-right-radius: 12px;box-shadow: 0 -12px 0 0 #b39ddb;}}}
            .message-bubble{background: white;padding-top: 8px;padding-bottom: 18px;padding-left: 8px;padding-right: 80px;margin-bottom: 16px;
                            border-radius: 12px 12px 12px 0;width: fit-content;position: relative;max-width: 60%;
                &:before{content: "";position: absolute;background-color: transparent;bottom: -16px;height: 16px;width: 12px;left: 0;border-top-left-radius: 12px;box-shadow: 0 -12px 0 0 #ffffff;}
                .chat-date{ position: absolute;bottom: 2px;right: 8px;font-size: 0.7rem;color: rgba(0,0,0,0.6);}
            }
        }}
    .input-area {padding-top: 16px;padding-bottom: 8px;}
}
.chat-list{width: 300px;background: #b39ddb;transition: all 0.5s ease;
    .chat-title {display: flex;justify-content: space-between;
        .chat-name {font-weight: 500;}
        .chat-date {font-size: 0.7rem;color: rgba(0,0,0,0.7)}
    }
    .search-input {margin: 24px;}
}

mat-form-field{width: 100%;}
.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    background: #e1d8f1;
}
mat-list-base .mat-list-item .mat-list-avatar, .mat-list-base .mat-list-option .mat-list-avatar {
    box-shadow: 0px 0px 40px 0px #b39ddb;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex{background-color:#f0ebf8}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f0ebf8;
}
.messages-section .chat-area.no-message{display: block;position: absolute;top:200px;height: fit-content;
    .inner-about{ display: flex;align-items: center;justify-content: space-between;    }}
.no-message-image{height: 350px;width: 350px;}
emoji-picker{top:20px;left: 20px;}

@media (max-width:991px) { 

    .chat-list{width: 300px; position: fixed;top:80px;z-index: 20;left: -300px;height:100vh;}
    .messages-section{width: 100%;margin: 16px ;}
    .chatClose{
        .chat-list{width: 300px; position: fixed;top:80px;z-index: 20;left:0; }
        .overlay{height: 100vh;background-color: rgba(0,0,0,0.3);display: block;position: fixed;z-index: 19;width: 100%;}
    }
}
@media (max-width: 699px){
    .no-message-image{width: 250px;height: 250px;}
}
@media (max-width: 499px){
    .messages-section .chat-area.no-message .inner-about{flex-direction: column;}
}