<app-navbar></app-navbar>

<div class="chat-container">

    <div class="chat-list mat-elevation-z5">
        <div class="search-input">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Search Users" [formControl]="searchControl" [matAutocomplete]="users">
            </mat-form-field>
            <mat-autocomplete #users="matAutocomplete">
                <mat-option *ngFor="let user of users$ | async" (click)="createChat(user)">
                    {{user?.displayName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <mat-selection-list [multiple]="false" [formControl]="chatListControl">
            <mat-divider></mat-divider>
            <mat-list-option *ngFor="let chat of myChat$ | async" [value]="chat.id">
                <img matListAvatar alt="" [src]="chat.chatPic ? chat.chatPic : '/assets/profile-placeholder.jpg'">
                <p mat-line class="chat-title">
                    <span class="chat-name">
                        {{chat.chatName}}
                    </span>
                    <span class="chat-date">
                        {{chat.lastMessageDate | dateDisplay}}
                    </span>
                </p>
                <p mat-line>
                    {{chat.lastMessage}}

                </p>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="messages-section mat-elevation-z5">

        <div class="messages-header" *ngIf="selectedChat$ | async as selectedChat; else noMessages;">
            <img [src]="selectedChat.chatPic? selectedChat.chatPic: '/assets/profile-placeholder.jpg'">
            <h2>{{ selectedChat.chatName }}</h2>
        </div>

        <mat-divider></mat-divider>

        <ng-template #noMessages>
            <div class="messages-header">
                <h2>Select User to start Conversation</h2>
            </div>
        </ng-template>

        <div class="chat-area">
            <ng-container *ngIf="user$ | async as currentUser">
                <div *ngFor="let message of messages$ | async" class="message-container" [ngClass]="{'sender' : message.senderId === currentUser.uid}">
                    <div class="message-bubble">
                        <ng-container *ngIf="message.imgURL === ''">
                            {{message.text }}
                        </ng-container>
                        <ng-container *ngIf="message.text === ''">
                            <a [href]="message.imgURL" target="_blank">
                                <img class="message-image" [src]="message.imgURL" alt="msg-images">
                            </a>
                        </ng-container>

                        <span class="chat-date">
                            {{message.sentDate | dateDisplay}}
                            <mat-icon>{{ message.status === 'seen' ? 'done_all' : 'done' }}</mat-icon>

                        </span>
                        <!-- <mat-icon>{{ message.status === 'seen' ? 'done_all' : 'done' }}</mat-icon> -->



                    </div>
                </div>
                <div #endOfChat></div>
            </ng-container>
        </div>

        <ng-template #noInput>
            <div class="chat-area no-message">
                <div class="inner-about">
                    <img class="no-message-image" src="../../../assets/Conversa.svg" alt="">
                    <span>
                        <h1>Conversea</h1>
                        <h3>Chat app with Firebase</h3>
                    </span>
                </div>
            </div>
        </ng-template>

        <div class="input-area" *ngIf="selectedChat$ | async as selectedChat; else noInput">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Your message.." [formControl]="messageControl" (keydown.enter)="sendMessage()">
                <button mat-icon-button matSuffix (click)="sendMessage()">
                    <mat-icon>send</mat-icon>
                </button>
                <button class="hello" mat-icon-button matPrefix (click)="emojiClicked = !emojiClicked" [(emojiPickerIf)]="emojiClicked" [emojiPickerDirection]="'bottom'" (emojiPickerSelect)="handleSelection($event)">
                    <mat-icon>emoji_emotions</mat-icon>
                </button>
            </mat-form-field>

            <button mat-icon-button>
                <mat-icon>image</mat-icon>
                <input type="file" accept="image/*" class="hidden-input" (change)="onImageSelected($event)">
            </button>
        </div>

    </div>
    <div class="overlay" (click)="chatClose()"></div>
</div>