<!-- <mat-toolbar color="primary" class="mat-elevation-z5">

    <img class="brand-logo" src="../../../assets/Conversa.svg" alt="">
    <span class="nav-title">Conversa</span>

    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/login" color="primary">
        <mat-icon>login</mat-icon>
        Login
    </button>

</mat-toolbar> -->

<app-navbar></app-navbar>

<div class="below-container">
    <div class="form-container mat-elevation-z6">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1>Register Yourself </h1>
            <mat-form-field appearance="standard">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="registerform.name.errors?.required">This is required field</mat-error>
                <mat-error *ngIf="registerform.name.errors?.pattern">Enter Valid Input</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="registerform.email.errors?.required">This is required field</mat-error>
                <mat-error *ngIf="registerform.email.errors?.pattern">Enter Valid Input</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerform.password.errors?.required">This is required field</mat-error>
                <mat-error *ngIf="registerform.password.errors?.pattern">Enter Valid Input</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" class="submit-btn">Submit</button>

            <div class="form-text">
                <p>Already Registered? <a routerLink="/login">Log in!</a></p>
            </div>
        </form>
    </div>