<mat-toolbar color="primary" class="mat-elevation-z5">

    <img class="brand-logo" src="../../../assets/Conversa.svg" alt="">
    <span class="nav-title">Conversa</span>

    <span class="example-spacer"></span>
    <ng-container *ngIf="authService.currentUser$ | async as user;">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="userMenu">
            <img class="nav-profile-image" width="40" height="40" alt="" [src]="user.photoURL || '/assets/profile-placeholder.jpg'">
            {{user.email}}
            <mat-icon>expand_more</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="!(authService.currentUser$ | async)">
        <button mat-flat-button routerLink="login" color="primary">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </ng-container>

</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">My Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>