/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.below-container{background-color: #f6f3fb;display: flex;height:calc( 100vh - 80px);flex-direction: column;align-items: center;}
.brand-logo{width: 60px;height: 60px;}
.mat-toolbar.mat-primary{height: 80px;}
.example-spacer {flex: 1 1 auto;  }
.nav-title{margin-left: 20px;}
.form-text{text-align: center;margin: 20px auto 0;}
.form-container {display: block;max-width: 300px;margin: auto;background: #F0EBF8;padding: 48px;border-radius: 16px;
  mat-form-field {width: 100%;}
}
.text-center {text-align: center;}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #F0EBF8;
}
.success.mat-snack-bar-container{ background: #33d633; color: #e6fae6;}
.error.mat-snack-bar-container{ background: #d11a1a; color: #fae6e6;}
.default.mat-snack-bar-container{ background: #00ccff; color: #e6edfa;}
snack-bar-container{
    app-alert{display: flex;
        align-items: center;
        justify-content: space-between;
    }
}